body{
	font-family: 'Roboto', sans-serif;
}
.carousel img, .news-img{
	width:100%;
	max-height:100vh;
}
h3,nav{
	text-transform:uppercase;
}
.navbar-brand, nav a{
	font-size:1.25rem;
}
main{
	margin-top:6vh;
	min-height:75vh;
}
a{
	text-decoration:none;
}
h3{
	font-size:3rem;
}
.navbar{
	color:#FFFFFF;
	background-color:#262626 !important;
	height:6vh;
}
.page-footer{
	text-align:center;
	background-color:#262626;
	color:#FFFFFF;
	padding-top:1vh;
	height:19vh;
}
.first-row{
	padding-top:5vh;
}
#inscriptionForm{
  background-image: url("../res/inscription.jpg");
}
#contactForm{
  background-image: url("../res/contact.jpg");
}
#newsTab {
    background-image: url("../res/asteroids.jpg");
}
#aboutTab {
    background-image: url("../res/coriolis.jpg");
    color:#000000;
    padding:7vh 5vw 7vh 5vw;
}
.COSS-tab{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#emailHelp{
	color:#FFFFFF !important;
}
.news-page-header {
    color: #d2cdcd;
    padding-top:8vh;
    padding-bottom:6vh;
    text-align:center;
}
.card {
    background-color: hsla(0, 0%, 75%, 0.8) !important;
}
.pilot-img {
    width: 75%;
    max-height: 30vh;
    margin-top: 2vh;
    margin-left: 12.5%;
}
.pilot-card {
    text-align: center;
    background-color: #262626 !important;
    color:#d2cdcd;
    max-width:20vw;
    margin-top:4vh;
}
.pilot-web{
    margin-left:3%;
    margin-right:3%;
}
.news-date{
    font-style:italic;
    margin-top:1.5vh;
    font-size:110%;
}
.news-title {
    text-transform: uppercase;
    font-weight: bold;
}
.news-header{
    margin-top:1.5vh;
    margin-bottom:3vh;
}
.news-header h5{
    font-size:2rem;
}
.news-content > p{
    text-align:justify;
}
.news-content > blockquote{
    font-size:95%;
    font-style:italic;
}
.news-img{
    max-height:25vh;
}
.title-img{
    text-align:center;
	margin-top:7vh;
}