footer{
	text-align:center;
	background-color:#222;
	color:#FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
}
.carousel img{
	width:100%;
}
body {
	padding-top: 30px;
}
a:hover{
	text-decoration: none;
}
h1,h2,h3,nav{
	text-transform:uppercase;
}
h1,h2{
	text-align:center;
	color:#FFFCFF;
}
h1{
	font-size:60px;
}
h2{
	font-size:36px;
}
h3{
	font-size:30px;
}