.carousel img{
	width:100%;
	max-height:100vh;
}
h1,h2,h3,nav{
	text-transform:uppercase;
}
.navbar-brand, nav a{
	font-size:1.25rem;
}
h1,h2{
	text-align:center;
	color:#FFFCFF;
}
h1{
	font-size:5rem;
}
h2{
	font-size:4rem;
}
h3{
	font-size:3rem;
}
.navbar{
	color:#FFFFFF;
	background-color:#262626 !important;
}